{% extends 'base.html' %}
{% load user_filters %}
{% load static %}
{% block title %}
  {% if is_edit %}
    Редактирование поста
  {% else %}
    Создание нового поста
  {% endif %}
{% endblock title %}
{% block name_group %} 
  {% if is_edit %}
    <h1>
      Редактируем пост
    </h1> 
  {% else %} 
    <h1>
      Создаем новый пост
    </h1> 
  {% endif %} 
{% endblock name_group %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
     <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %}
              <a> Редактировать</a>
            {% else %}
              <a> Опубликовать </a>           
            {% endif %}         
          </div>
          <div class="card-body"> 
            {% if is_edit %}         
              <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_edit' post.id %}">
            {% else %}
              <form method="post" enctype="multipart/form-data" action="{% url 'posts:post_create' %}">
            {% endif %}
          </div>  
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row justify-content-end">
              <button type="submit" class="btn btn-primary">
              {% if is_edit %}         
                Сохранить
              {% else %}
                Добавить
              {% endif %} 
            </div>
              </button>
            </div>  
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}  
